@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate:ital@0;1&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

@import "tailwindcss";

.title-font {
  font-family: 'Mate', serif;
}

.title-color {
  color:#ffffff;
}

.subtitle-color {
  color:#ffffff;
}

.subtitle-font {
  font-family: 'Special Elite', cursive;
}

.text-color {
  color:#3f49ba;
}

.text-font {
  font-family: 'Didact Gothic', sans-serif;
}